LLM_PROVIDER=MOCK|LOCAL|GOOGLE|HUGGINGFACE
OLLAMA_MODEL=LocalOllamamodelname
INSIGHT_MODEL_NAME=gemini-2.5-flash
GEMINI_API_KEY=GeminiAPIKey
GEMINI_API_KEY_BACKUP=BackupGeminiAPIKey
HF_TOKEN=HugginFaceToken
HF_MODEL=HugginFacModel
PARALLEL=false
BATCH=true
RATE_LIMIT_ENABLED=true
VERBOSITY_LEVEL=SHORT|VERBOSE
