LLM_PROVIDER=LOCAL|GEMINI|HUGGINGFACE
OLLAMA_MODEL=LocalOllamamodelname
GEMINI_API_KEY=GeminiAPIKey
HF_TOKEN=HugginFaceToken
HF_MODEL=HugginFacModel  # meta-llama/Llama-3.2-3B-Instruct or mistralai/Mistral-7B-Instruct-v0.3 or Qwen/Qwen2.5-7B-Instruct
PARALLEL=false
BATCH=true

